/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #685341;
  --text-dark: #502b0f;
  --extra-dark: #2e1402;
  --text-light: #724a24;
  --extra-light: #946d43;
  --white: #ecdbc1;
  --dirty-white: #ddb17e;
  --max-width: 1200px;
  --header-font: 'Nunito', serif;
  --nav-foot-bg: #cbb799;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.section__description {
  font-size: 1.1rem;
  color: var(--text-light);
}

.logo {
  display: inline-block;
  width: 190px;
  padding-top: 0.9rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

#login {
  border: 1px solid rgb(105, 81, 49);
  border-radius: 5px;
  padding: 6px 14px;
  color: #fff;
  background-color: var(--text-light);
}

#login:hover {
  background-color: var(--extra-light);
}

#lang {
  border: 1px solid rgb(105, 81, 49);
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 18px;
  font-weight: 100;
  color: rgb(105, 81, 49);
  background-color: rgba(0, 0, 0, 0);
}

#lang:hover {
  background-color: var(--white);
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--header-font);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 4;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-foot-bg);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  padding: 3rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--white);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-117%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links .underline_anim {
  font-weight: 500;
  color: var(--text-dark);
  display: inline-block;
  position: relative;
}

.nav__links .underline_anim::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--extra-light);
  transition: transform 0.25s ease-out;
}

.nav__links .underline_anim:hover::after {
  color: var(--extra-light);
  transform: scaleX(1);
}

.underline_anim.under_ad::after {
  transform-origin: bottom left;
}

.underline_anim.under_ad:hover::after {
  transform-origin: bottom left;
}

.detector__container {
  margin: auto;
  padding: 1rem 1rem;
  font: var(--header-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.detector__inner__container {
  flex: 1;
}

#container {
  display: flex;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#drop-area {
  border: 2px dashed #ccc;
  padding: 50px 30px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}

#drop-area:hover {
  background-color: #21212107;
}

#drop-area.highlight {
  border-color: #333;
  background-color: #f0f0f0;
}

#drop-area.dragover {
  background-color: #e0e0e0;
}

#preview {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  display: none;
  object-fit: contain;
}
#predict-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#predict-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
#output {
  margin: 20px;
  font-size: 1.5rem;
  color: var(--extra-dark);
  font-weight: 600;
}

.detectorBtns {
  padding: 10px 20px;
  font: var(--header-font);
  margin: 10px;
  background-color: var(--text-light);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}
.detectorBtns:hover {
  background-color: var(--extra-light);
}

#gradio-container {
  display: none;
}

@keyframes backgroundChange {
  0% {
    background-color: #dd9d49;
  }
  25% {
    background-color: #b99b46;
  }
  50% {
    background-color: #cca22f;
  }
  75% {
    background-color: #e2ab45;
  }
  100% {
    background-color: #dd9d49;
  }
}

.breed__detector__container {
  margin: 0 auto;
  padding: 20px;
}

.breed__detector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
#btnBreedDetector {
  color: #fff;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: var(--header-font);
  background-color: var(--text-light);
  cursor: pointer;
  border: 0;
}

#btnBreedDetector:hover {
  background-color: var(--extra-light);
}

#breedDetectorImg {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.breed__detector__content {
  margin-top: 20px;
}

.breed__detector__overlay {
  text-align: center;
}

@media (max-width: 768px) {
  .breed__detector__header {
    flex-direction: column;
    align-items: flex-start;
  }

  #breedDetectorImg {
    max-width: 100%;
    margin-top: 20px;
  }

  .text__container {
    align-items: center;
    text-align: center;
  }

  .section__header,
  .section__description {
    text-align: center;
  }
}

.loader {
  --uib-size: 50px;
  --uib-speed: 0.6s;
  --uib-color: #866826;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.17);
  padding-top: calc(var(--uib-size) * 0.34);
  justify-self: center;
}

.dot-wave__dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.dot-wave__dot:nth-child(1) {
  animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.dot-wave__dot:nth-child(2) {
  animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.dot-wave__dot:nth-child(3) {
  animation: jump824 var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.dot-wave__dot:nth-child(4) {
  animation: jump824 var(--uib-speed) ease-in-out infinite;
}

@keyframes jump824 {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}

.loader.hidden {
  display: none;
}

.nav__search {
  display: none;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  padding: 3px;
}

.close-modal:hover {
  color: rgba(0, 0, 0, 0.603);
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-family: var(--header-font);
  font-weight: 600;
}

.modal h1 {
  font-size: 1.5rem;
  color: var(--text-dark);
}

.modal ul li {
  list-style-type: none;
  text-align: center;
  margin: 1rem;
}

.modal ul li button {
  display: inline-block;
  color: var(--text-dark);
  font-size: 1rem;
  padding: 0.7rem;
  margin: auto;
  vertical-align: middle;
  width: 7rem;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0);
}

.modal ul li button:hover {
  background-color: var(--white);
  color: var(--text-light);
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.header__container {
  display: grid;
  overflow: hidden;
  padding-top: 5rem;
}

.header__image {
  grid-area: 1/1/2/2;
}

.header__image img {
  max-width: 790px;
  margin-left: auto;
  padding-bottom: 2rem;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.header__content > div {
  max-width: 580px;
  padding: 3rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.header__content p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.about__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__header .section__description {
  max-width: 600px;
}

.about__content {
  margin-top: 0rem;
  display: grid;
  gap: 2rem;
}

.about__grid {
  display: grid;
  gap: 2rem;
}

.about__image {
  overflow: hidden;
}

.about__card h3 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--extra-light);
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card p {
  color: var(--text-light);
}

.services__header .section__description {
  max-width: 600px;
}

.services__content {
  margin-top: 0rem;
  display: grid;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.services__grid {
  display: grid;
  grid-template-columns: minmax(0, 240px);
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

.services__card {
  width: 255px;
  height: 264px;
  border-radius: 20px;
  background: #ffeed5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: var(--primary-color);
  height: 100%;
  gap: 0.3em;
  display: grid;
}

.text-body {
  color: var(--primary-color);
}

.text-title {
  font-size: 1.3em;
  font-weight: bold;
}

.services__card:hover {
  border-color: var(--extra-light);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 238, 206);
}

.services__card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 85%;
  border-radius: 34px;
  position: absolute;
  padding: 10px 24px;
  font-size: 1rem;
  color: #fff;
  border: 0px;
  background-color: var(--text-light);
  font-weight: 600;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  overflow: hidden;
}

.card-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--extra-light);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-button:hover::before {
  scale: 4.2;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}

.footer {
  background-color: var(--nav-foot-bg);
  padding-bottom: 1rem;
}

.footer__container {
  display: grid;
  gap: 3rem 2rem;
}

.footer__logo {
  margin-bottom: 0rem;
}

.footer__logo img {
  width: 10rem;
}

#footerLogoText {
  margin-bottom: 2rem;
  color: var(--extra-dark);
  font-size: large;
  opacity: 0.8;
  padding-top: 1rem;
}

.footer__col h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--extra-dark);
  white-space: nowrap;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__links {
  display: inline;
  gap: 1rem;
  margin: 0;
}

.footer__links li {
  gap: 1.5rem;
  padding-top: 1.6rem;
}

.footer__links a {
  color: var(--extra-dark);
  font-size: 1.5rem;
}

.footer__links a:hover {
  opacity: 0.5;
}

.footer__bar {
  padding: 1.2rem;
  font-size: 1.1rem;
  color: var(--extra-dark);
  text-align: center;
}

#support {
  padding-top: 0.4rem;
  font-weight: 600;
}

#email {
  color: var(--extra-dark);
  opacity: 0.8;
  font-weight: 400;
}

#email:hover {
  opacity: 0.6;
}

#followUsAt {
  padding-top: 1.5rem;
  display: inline-flex;
  font-weight: 600;
}

.notification {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  z-index: 1000;
  display: none;
  text-align: center;
  max-width: 90%;
  background-color: var(--text-light);
}

.logout-btn {
  border: 1px solid rgb(105, 81, 49);
  border-radius: 5px;
  padding: 6px 14px;
  color: #fff;
  background-color: var(--text-light);
  list-style: none;
}

.logout-btn:hover {
  background-color: var(--extra-light);
}

#profileBtn {
  font-size: 1rem;
  color: var(--extra-dark);
  border-radius: 50%;
}

#profileBtn:hover {
  color: var(--extra-light);
}

#shoppingCartBtn {
  font-size: 1rem;
  color: var(--extra-dark);
  border-radius: 50%;
}

#shoppingCartBtn:hover {
  color: var(--extra-light);
}

.profile__container {
  text-align: center;
  height: 350px;
  padding-top: 4rem;
}

.profile__details {
  max-width: 550px;
  margin: 0 0;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.profile__details h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.profile__details p {
  font-size: 1.2rem;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.profile__upload button:hover {
  background-color: var(--extra-light);
}

#changePassword {
  border: 1px solid rgb(105, 81, 49);
  border-radius: 5px;
  padding: 6px 14px;
  color: #fff;
  font-size: 1rem;
  background-color: var(--text-light);
  list-style: none;
  cursor: pointer;
  font-family: var(--header-font);
  margin-top: 1rem;
  align-self: flex-end;
}

#changePassword:hover {
  background-color: var(--extra-light);
}

.profile-footer {
  background-color: var(--nav-foot-bg);
  padding-bottom: 0rem;
  width: 100%;
}

.your-pets__container {
  padding: 0;
  min-height: calc(100vh - 100px);
  display: block;
}

.your-pets__header {
  text-align: center;
  color: var(--extra-dark);
}

.password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-family: var(--header-font);
}

.password-modal h2 {
  font-size: 1.5rem;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  text-align: center;
}

.password-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.password-modal input {
  padding: 0.8rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-dark);
  font-family: var(--header-font);
}

.password-modal button[type='submit'] {
  padding: 0.8rem;
  background-color: var(--text-light);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-modal button[type='submit']:hover {
  background-color: var(--extra-light);
}

.password-modal .close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.password-modal .close-modal:hover {
  color: rgba(0, 0, 0, 0.603);
}

.password-modal .error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  display: none;
}

.password-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.password-container input {
  width: 100%;
  padding: 0.8rem 2.5rem 0.8rem 0.8rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-dark);
  font-family: var(--header-font);
  box-sizing: border-box;
}

.password-container .toggle-password {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: color 0.3s;
}

.password-container .toggle-password:hover {
  color: var(--extra-light);
}

.profileDataLabel {
  font-weight: 600;
}
.profileDataInfo {
  padding: 2px 4px;
  border-radius: 5px;
  color: var(--text-light);
}

/* Pet Rehoming form page */
.rehome__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0rem 1rem 2rem 1rem;
}

.rehome__header {
  text-align: center;
  margin-bottom: 2rem;
}

.rehome__header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.rehome__header p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.rehome__form {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.1rem;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__group input,
.form__group textarea,
.form__group select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-dark);
  font-family: var(--header-font);
}

.select2-container .select2-selection--single {
  height: 3rem !important; /* Match your other inputs */
  line-height: 3rem !important;
  padding-top: 0.5rem;
}

.select2-container--default .select2-results__option {
  padding: 8px 12px !important;
  line-height: 1.5 !important;
}

.select2-search--dropdown .select2-search__field {
  height: 36px !important;
}

.select2-selection__placeholder {
  margin-top: 1rem !important;
}

.select2-selection__arrow {
  margin-top: 0.5rem !important;
}

.form__group input[type='file'] {
  padding: 0.5rem;
}

.form__group textarea {
  resize: vertical;
  min-height: 100px;
}

.price__container {
  display: flex;
  gap: 1rem;
}

.price__container input {
  flex: 2;
}

.price__container select {
  flex: 1;
}

.photo__preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.photo__preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.submit__btn {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--text-light);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit__btn:hover {
  background-color: var(--extra-light);
}

.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  z-index: 2000;
  display: none;
  padding: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1999;
  display: none;
}

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 81%, 0) 47.8%,
    hsl(0, 0%, 81%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.your-pets__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding-top: 2rem;
}

.pet__card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.pet__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

.pet__card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.pet__card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.pet__card p {
  font-size: 1rem;
  color: var(--text-light);
  margin-bottom: 0.3rem;
}

.pet-profile__container {
  padding-top: 1rem;
  text-align: center;
}

.pet-profile__content {
  max-width: 600px;
  margin: 2rem auto;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pet-profile__carousel {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel__images {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel__images div {
  flex: 0 0 100%;
  width: 100%;
}

.carousel__images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--left {
  left: 10px;
}

.carousel__btn--right {
  right: 10px;
}

.pet-profile__details {
  text-align: left;
}

.pet-profile__details p {
  font-size: 1.1rem;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.pet-label {
  font-weight: 700;
  color: var(--primary-color);
}

.adoption__container {
  min-height: calc(100vh - 100px);
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 1rem 1rem;
}

.adoption__header {
  padding-bottom: 1rem;
  color: var(--text-dark);
}

.adoption__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.pet__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.pet__card:hover {
  transform: scale(1.05);
}

.pet__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.pet__card h3 {
  margin: 0.5rem 0;
}

.pet__card p {
  margin: 0.25rem 0;
}

.profile-footer {
  background-color: var(--nav-foot-bg);
  width: 100%;
  padding: 1rem 0;
}

.footer__bar {
  text-align: center;
  color: var(--extra-dark);
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 13px;
  z-index: 2;
}
.bin-top {
  width: 15px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.edit-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(212, 166, 37);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: 'Edit';
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 0.5rem;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.delete-modal h3 {
  margin: 0 0 1rem;
}

.delete-modal p {
  margin: 0 0 1.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#confirmDelete,
#cancelDelete {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#confirmDelete {
  background-color: #ff4444;
  color: white;
}

#confirmDelete:hover {
  background-color: #cc0000;
}

#cancelDelete {
  background-color: #ccc;
  color: black;
}

#cancelDelete:hover {
  background-color: #aaa;
}

.hidden {
  display: none;
}

.section__container.pet-items__container {
  min-height: calc(100vh - 100px);
  padding: 2rem;
}

.pet-items__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.cartBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-size: 1rem;
  font-family: var(--header-font);
  font-weight: 500;
  position: relative;
  background-color: var(--text-light);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-top: 0.5rem;
}

.cartBtn:hover {
  background-color: var(--extra-light);
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: '';
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cart__container {
  min-height: calc(100vh - 100px);
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 1rem 1rem;
}

#cartTitle {
  padding-bottom: 1rem;
}

.cart__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.cart__grid p {
  text-align: center;
  font-size: 1rem;
  color: #666;
}

.pricing {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.pricing__container {
  max-width: 1200px;
  margin: 0 auto;
}

.pricing__title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.pricing__description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.pricing__table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.pricing__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

.pricing__header {
  background-color: var(--nav-foot-bg);
  color: #fff;
  font-weight: bold;
}

.pricing__cell {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  color: var(--text-dark);
}

.pricing__btn {
  padding: 0.5rem 1rem;
  background-color: var(--text-light);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing__btn:hover {
  background-color: var(--extra-light);
}

@media (max-width: 768px) {
  .pricing__row {
    flex-direction: column;
    gap: 0.5rem;
  }
  .pricing__cell {
    width: 100%;
    text-align: center;
  }
}

@media (width <= 768px) {
  .pet-profile__container {
    padding-top: 7rem;
  }

  .carousel__images img {
    height: 200px;
  }
  .cart__container {
    min-height: calc(103vh - 100px);
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    padding: 7rem 1rem;
  }
  .adoption__container {
    min-height: calc(100vh - 100px);
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    padding: 7rem 1rem;
  }
  #footerLogoText {
    width: 390px;
  }
  .pet-profile__carousel {
    height: 200px;
  }

  .detector__container {
    /* min-height: calc(100vh - 100px); */
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    padding: 7.5rem 1rem;
    font: var(--header-font);
    text-align: center;
    height: 90vh;
  }
}

@media (width > 540px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .services__card {
    height: auto;
    min-height: 254px;
    padding-bottom: 3.5rem;
  }

  .services__card .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }

  .profile__container {
    text-align: center;
    height: auto;
    padding-top: 7rem;
  }

  .profile__details h2 {
    font-size: 1.8rem;
  }

  .profile__details p {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
  }

  .rehome__container {
    padding: 1rem 1rem 2rem 1rem;
  }

  .rehome__header h1 {
    font-size: 2rem;
  }

  .rehome__header p {
    font-size: 1rem;
  }

  .rehome__form {
    padding: 1.5rem;
  }

  .price__container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .pet-profile__container {
    padding-top: 8rem;
    text-align: center;
  }
}

@media (width > 768px) {
  nav {
    position: sticky;
    padding: 1rem 1rem;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 18px;
    font-family: var(--header-font);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(8px);
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .section__container {
    padding: 4rem 1rem 2rem 1rem;
    max-width: var(--max-width);
    margin: auto;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 1.5rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--extra-light);
  }

  .header__container {
    padding-top: 0;
  }

  .about__header {
    flex-direction: column;
    justify-content: space-between;
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__image {
    grid-area: 1/2/2/3;
  }

  .services__header {
    flex-direction: column;
    justify-content: space-between;
  }

  .services__content {
    align-items: center;
  }

  .services__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile__container {
    padding-top: 1rem;
    margin: auto;
    max-width: var(--max-width);
  }
}

@media (width>1024px) {
  .about__grid {
    gap: 4rem 2rem;
  }

  .services__grid {
    gap: 4rem 2rem;
  }
}
